<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab">Zones</a></li>
    <li><a href="#tab_2" data-toggle="tab">Camera</a></li>
    <li><a href="#tab_3" data-toggle="tab">Map</a></li>
    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_1">
      <app-zones-config></app-zones-config>
    </div>
    <div class="tab-pane" id="tab_2">
      <app-point-mapping></app-point-mapping>
    </div>
    <div class="tab-pane" id="tab_3">
      <!-- todo Update global map -->
    </div>
  </div>
  <!-- /.tab-content -->
</div>
