<div class="nav-tabs-custom">

  <ul class="nav nav-tabs">
    <li [ngClass]="{'active': active === group}" *ngFor="let group of cameraGroups">
      <a [href]="'#'+group.id" data-toggle="tab">{{group.name}}</a>
    </li>
    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" [ngClass]="{'active': active === group}" [id]="group.id" *ngFor="let group of cameraGroups">
      <app-zone [cameraGroup]="group"></app-zone>
    </div>
  </div>

</div>
