<div class="col-md-12" style="display: flex;">
  <div class="col-md-5">
    <h3 *ngIf="zoneStatistic != null">
      {{ zoneStatistic.zoneName }}
    </h3>
    <span *ngIf="zoneStatistic != null">
      {{fromTimestamp}} - {{ toTimestamp }}
    </span>
    <div class="col-md-12 panel panel-default" *ngIf="zoneStatistic != null">
      <table class="table">
        <thead>
        <tr>
          <th>
            Statistics
          </th>
          <th>
            #
          </th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="{active: activeView == averagePeopleCountView}" (click)="switchView(averagePeopleCountView)">
          <td>
            Average People Count
          </td>
          <td>
            {{ zoneStatistic.averagePersonCount }}
          </td>
        </tr>
        <tr [ngClass]="{active: activeView == averageStandingCountView}" (click)="switchView(averageStandingCountView)">
          <td style="padding-left: 20px;">
            Standing
          </td>
          <td>
            {{ zoneStatistic.averageStandingCount }}
          </td>
        </tr>
        <tr [ngClass]="{active: activeView == averageSittingCountView}" (click)="switchView(averageSittingCountView)">
          <td style="padding-left: 20px;">
            Sitting
          </td>
          <td>
            {{ zoneStatistic.averageSittingCount }}
          </td>
        </tr>
        <tr [ngClass]="{active: activeView == totalFlowView}" (click)="switchView(totalFlowView)">
          <td>
            Traffic Flow
          </td>
          <td>
            {{ getTotal() }}
          </td>
        </tr>
        <tr>
          <td style="padding-left: 20px;">
            Incoming
          </td>
          <td>
            {{ zoneStatistic.totalIncoming }}
          </td>
        </tr>
        <tr>
          <td style="padding-left: 20px;">
            Outgoing
          </td>
          <td>
            {{ zoneStatistic.totalOutgoing }}
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>
  <div class="panel panel-default col-md-8" *ngIf="zoneStatistic != null && activeView == averagePeopleCountView">
    <h4>Average People Count</h4>
    <p-chart type="line" [data]="averageCountVariationData" [options] = "chartOptions"></p-chart>

  </div>

  <div class="panel panel-default col-md-8" *ngIf="zoneStatistic != null && activeView == averageStandingCountView">
    <h4>Average Standing People Count</h4>
    <p-chart type="line" [data]="averageStandingCountVariationData" [options] = "chartOptions"></p-chart>

  </div>

  <div class="panel panel-default col-md-8" *ngIf="zoneStatistic != null && activeView == averageSittingCountView">
    <h4>Average Sitting People Count</h4>
    <p-chart type="line" [data]="averageSittingCountVariationData" [options] = "chartOptions"></p-chart>

  </div>


  <div class="panel panel-default col-md-4" *ngIf="zoneStatistic != null && activeView == totalFlowView">
    <h4>Outgoing Flow</h4>
    <p-chart type="pie" [data]="outgoingData" [options] = "chartOptions"></p-chart>

  </div>

  <div class="panel panel-default col-md-4" style="margin-left: 10px;" *ngIf="zoneStatistic != null && activeView == totalFlowView">
    <h4>Incomming Flow</h4>
    <p-chart type="pie" [options] = "chartOptions" [data]="incomingData"></p-chart>
  </div>
</div>
