<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Zone Map</b>
        <span style="padding-left: 10px; padding-right: 2px;">
          From <p-calendar [(ngModel)]="fromDate"></p-calendar>
        </span>
        <span style="padding-left: 10px; padding-right: 2px;">
            To <p-calendar [(ngModel)]="toDate"></p-calendar>
        </span>
    </div>

    <div class="panel-body">
      <div class="row" *ngIf="globalMap">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <svg x="0" y="0" width="100%" height="700">
            <g height="100%" width="100%">
              <image [attr.xlink:href]="globalMap.image" x="0" y="0" (click)="backgroundClicked();"></image>
              <g *ngFor="let poly of polygons; let i = index">
                <polygon class="zone" [attr.points]="poly.polygon" (click)="zoneClicked(i);" [class.zone-selected]="i === selectedZoneIndex"></polygon>

                <text [attr.x] = "poly.midX" [attr.y] = "poly.midY-30"  font-size="20" text-anchor="middle">
                  {{ poly.zone.name }}
                </text>

                <text [attr.x] = "poly.midX" [attr.y] = "poly.midY"  font-size="20" text-anchor="middle" *ngIf="poly.zoneStatistic != null && (selectedZoneStatistic == null || selectedZoneIndex == i)">
                  {{ poly.zoneStatistic.averagePersonCount }} People
                </text>

                <g *ngIf="selectedZoneIndex == i && poly.zoneStatistic != null">
                  <text [attr.x] = "neighbour.midX" [attr.y] = "neighbour.midY - 10" *ngFor="let neighbour of poly.outgoingMap" font-size="20" text-anchor="middle">
                    + {{ neighbour.count * 100 }}%
                  </text>

                  <text [attr.x] = "neighbour.midX" [attr.y] = "neighbour.midY + 10" *ngFor="let neighbour of poly.incomingMap" font-size="20" text-anchor="middle">
                    - {{ neighbour.count * 100 }}%
                  </text>

                </g>

              </g>
            </g>




          </svg>

        </div>
      </div>
    </div>

  </div>
  <div class="panel">
      <app-zone-info [zones]="zones" [zoneStatistic]="selectedZoneStatistic"></app-zone-info>
  </div>
</div>
