<div class="col-md-8 offset-md-2 my-3">
  <mat-card>
    <mat-card-title>
      People Stop Points Map
    </mat-card-title>
    <mat-card-subtitle>
      <div class="row">
        <div class="col-md-10">
          <mat-list>
            <mat-list-item>
              From
              <p-calendar [(ngModel)]="from" [showTime]="true"></p-calendar>
              to
              <p-calendar [(ngModel)]="to" [showTime]="true"></p-calendar>
            </mat-list-item>
            <mat-list-item>
              Radius : <input [(ngModel)]="radius" type="number" name="r">
              Time duration (minuets) :<input [(ngModel)]="time" type="number" name="t">
            </mat-list-item>
          </mat-list>
        </div>
        <div class="col-md-2">
          <button mat-raised-button color="primary" (click)="getStopPoints()" class="float-right">Get Points</button>
        </div>
      </div>

    </mat-card-subtitle>

    <mat-card-content>
      <div class="col-md-11" [hidden]="!stopPoints">
        <h4>People on the map: <span class="label label-default">{{stopPoints}}</span></h4>
      </div>
      <!--<div class="row" *ngIf="globalMap">-->
      <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
      <!--<svg x="0" y="0" width="100%" height="500">-->
      <!--<g height="100%" width="100%">-->
      <!--<image [attr.xlink:href]="globalMap.image" x="0" y="0" (click)="backgroundClicked();"></image>-->
      <!--</g>-->
      <!--</svg>-->
      <!--</div>-->
      <!--</div>-->

      <canvas #canvas></canvas>
    </mat-card-content>
  </mat-card>
</div>
