<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 my-3">
  <mat-card>
    <mat-card-title>People Count</mat-card-title>
    <mat-card-content>
      <div class="col-md-12">
        <div class="col-md-5 col-sm-12">
          <div class="container-fluid">
            <label class="control-label col-md-2 col-sm-2">From</label>
            <div class="col-md-10 col-sm-10">
              <p-calendar [showTime]="true" [(ngModel)]="from"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="container-fluid">
            <label class="control-label col-md-2 col-sm-2">To</label>
            <div class="col-md-10 col-sm-10">
              <p-calendar [showTime]="true" [(ngModel)]="to"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <button class="btn btn-info" (click)="getCount()"> Get count</button>
        </div>
      </div>

      <div class="col-md-12" *ngIf="personCount">
        <h4>People on the map: <span class="label label-default">{{personCount}}</span></h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>
