<div class="container-fluid">
  <div class="panel panel-default" *ngFor="let cameraView of cameraViews; let i = index;">
    <div class="panel-heading">
      Configure point mappings for {{cameraView.id}}
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <svg x="0" y="0" width="100%" height="300" id="camera{{i}}">
            <image [attr.xlink:href]="cameraView.view" x="0" y="0" height="100%" width="100%"
                   (click)="cameraViewClicked($event, i)"></image>
          </svg>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <svg x="0" y="0" width="100%" height="300" class="img img-responsive" id="map{{i}}">
            <image [attr.xlink:href]="mapImage.view" x="0" y="0" height="100%" width="100%"
                   (click)="mapImageClicked($event, i)"></image>
          </svg>
        </div>
      </div>
      <div class="row">
        {{cameraView.width}} x {{cameraView.height}}
      </div>
    </div>
  </div>
</div>
