<div>
  <div class="col-md-12" *ngIf="personImages != null && personImages.length > 0">
    <div class="panel panel-default col-lg-2" style="height: 300px; padding: 0px;"
         *ngFor="let personImage of personImages">
      <div class="panel-heading" style="width: 100%;">{{ getDateString(personImage.timestamp) }}</div>

      <div class="panel-body" style="height:80%; width: 100%; text-align: center;">
        <a [routerLink]="'/' + personImage.uuid" target="_blank" *ngIf="reIDOnClick == true">
          <img [src]="personImage.image"
               style="width: 100%; height: 95%; max-width: 100%; max-height: 100%; object-fit: contain;"
               (click)="imageClicked(personImage)"/>
        </a>

        <img *ngIf="reIDOnClick == false" (click)="imageClicked(personImage)" [src]="personImage.image"
             style="width: 100%; height: 95%; max-width: 100%; max-height: 100%; object-fit: contain;"/>

      </div>

    </div>
  </div>
  <div *ngIf="personImages == null && showAll == false" style="display: flex;">
    No Track Selected
  </div>
  <div *ngIf="personImages != null && personImages.length == 0 && showAll == false" style="display: flex;">
    No Track Selected
  </div>
  <div *ngIf="(personImages == null|| personImages.length == 0) && showAll == true" style="display: flex;">
    No Previews
  </div>
</div>
