<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">{{cameraGroup.name}}</h3>
    <div class="box-tools pull-right">
      <span class="badge">{{personSnapshots.length}}</span> people
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <svg x="0" y="0" [attr.width]="cameraGroup.map.width" [attr.height]="cameraGroup.map.height"
             class="center-block">
          <g>
            <image [attr.xlink:href]="cameraGroup.map.image" x="0" y="0" (click)="backgroundClicked();"></image>
          </g>

          <g *ngFor="let personTrack of personSnapshots" (click)="trackClicked(personTrack);">
            <g *ngIf="personTrack[0] != null">
              <g *ngIf="personTrack[0].ids.length == 0 || personTrack[0].ids[0] != selectedTrackIndex">
                <circle [attr.fill]="personTrack[0].colour" r="5" [attr.cx]="personTrack[0].x"
                        [attr.cy]="personTrack[0].y"></circle>
              </g>
              <g *ngIf="personTrack[0].ids.length != 0 && personTrack[0].ids[0] == selectedTrackIndex">
                <circle fill="gold" r="5" [attr.cx]="personTrack[0].x" [attr.cy]="personTrack[0].y"></circle>
              </g>

              <g *ngIf="personTrack[0].ids.length == 0 || personTrack[0].ids[0] != selectedTrackIndex">
                <line [attr.stroke]="personTrack[0].colour" stroke-width="2"
                      *ngFor="let person of personTrack | slice : 1; let i = index" [attr.x1]="personTrack[i].x"
                      [attr.y1]="personTrack[i].y" [attr.x2]="personTrack[i+1].x"
                      [attr.y2]="personTrack[i+1].y"></line>
              </g>
              <g *ngIf="personTrack[0].ids.length != 0 && personTrack[0].ids[0] == selectedTrackIndex">
                <line stroke="gold" stroke-width="2" *ngFor="let person of personTrack | slice : 1; let i = index"
                      [attr.x1]="personTrack[i].x" [attr.y1]="personTrack[i].y" [attr.x2]="personTrack[i+1].x"
                      [attr.y2]="personTrack[i+1].y"></line>
              </g>

              <line [attr.x1]="personTrack[0].x" [attr.y1]="personTrack[0].y"
                    [attr.x2]="personTrack[0].x + personTrack[0].headDirectionX * 10"
                    [attr.y2]="personTrack[0].y + personTrack[0].headDirectionY * 10"
                    [attr.stroke]="personTrack[0].standSitColour" stroke-width="2"
                    *ngIf="personTrack[0]['headDirectionX'] != null && personTrack[0]['headDirectionY'] != null"></line>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>

<mat-card>
  <mat-card-title *ngIf="showAllInInfo==false">Track Details</mat-card-title>
  <mat-card-title *ngIf="showAllInInfo==true">Live Photos</mat-card-title>

  <mat-card-content>
    <div class="container-fluid">
      <app-realtime-info [useRealtimeEndpoint]="true" [showAll]="showAllInInfo" [reIDOnClick]="!showAllInInfo"
                         [refreshToggle]="updateToggle" [id]="selectedTrackIndex"
                         (personClicked)="personClicked($event)"></app-realtime-info>
    </div>
  </mat-card-content>
</mat-card>
