<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Heat Map</h3>
    <div class="box-tools pull-right">
      <!--<span class="badge">{{personSnapshots.length}}</span> people-->
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-10">
        <ul class="list-group">
          <li class="list-group-item borderless">
            From
            <p-calendar [showTime]="true" [(ngModel)]="startTime"></p-calendar>
            to
            <p-calendar [showTime]="true" [(ngModel)]="endTime"></p-calendar>
          </li>
          <li class="list-group-item borderless">
            <p-slider [(ngModel)]="secondRange" [range]="true" [min]="0" [max]="300" [step]="1"
                      class="col-md-12"></p-slider>
          </li>
          <li class="list-group-item borderless">
            <p-slider [(ngModel)]="offset" [min]="0" [max]="300" [step]="1" class="col-md-12"></p-slider>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <button (click)="generateHeatMap()" class="btn btn-primary">
          Generate
        </button>
      </div>
    </div>

    <div class="row">
      <canvas #canvas class="center-block"></canvas>
    </div>
  </div>
  <div class="box-footer">
    From {{startString}} to {{endString}}
  </div>
</div>
