<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %C{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="ERROR">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>